<% layout('layouts/boilerplate') -%>

<body>
  <div class="row">
    <div class="col-8 offset-2 mt-3">
      <b>
        <h1><%= temp.title %></h1>
      </b>
    </div>
    <div class="card col-6 offset-2 ">
      <img src="<%= temp.img.url %>" class="card-img-top show-img" alt="listing img">
      <div class="card-body">
        <p class="card-text"></p>
        <p>Owned By : <i><%= temp.owner.username %></i></p>
        <p><%= temp.desc %> </p>
        <p>&#8377;<%= temp.price.toLocaleString("en-IN") %> </p>
        <p><%= temp.location %></p>
        <p><%= temp.country %> </p>
        <br>
      </div>
    </div>
  </div>

  <% if(currUser && currUser._id.equals(temp.owner._id)){ %>
  <div class="btns mt-3">
    <a href="/listings/<%= temp._id %>/edit" class="btn btn-dark offset-2 Edit-btn"> Edit</a>
    <form action="/listings/<%= temp._id %>?_method=Delete" method="post">
      <button class="btn btn-dark offset-3">Delete</button>
    </form>
  </div>
  <% } %>

  <br>
  <div class="col-8 offset-2 mb-3">

    <% if(currUser){ %>
    <hr>
    <h4>Leave a Review</h4>
    <form action="/listings/<%= temp._id %>/review" method="post" novalidate class="needs-validation">
      
       
        <!-- <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range"> -->
      
      <div class="mb-3 mt -3">
      <label for="rating" class="form-label">Rating</label>
      <fieldset class="starability-slot">
        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label> 
      </fieldset>
      </div>
      <div class="mb-3 mt-3">
        <label for="comment" class="form-label">Comments</label>
        <textarea name="review[Comment]" id="comment" cols="30" rows="5" class="form-control"></textarea>
        <div class="invalid-feedback">Please Enter The comment</div>
      </div>

      <button class="btn btn-outline-dark">Submit</button>
    </form>
    <% } %>
    



    <% if(temp.reviews.length > 0){ %>
      <hr> 
    <div class="row">
      <p><b>All Reviews</b></p>
      <% for(let i of temp.reviews ) {%>
      <div class="card col-5 mb-3 ms-3">
        <div class="card-body">
          <h5 class="card-title">Jane does</h5>
          <p class="card-text"><%= i.Comment %></p>
          <p class="starability-result" data-rating="<%= i.rating %>">
          </p>
          <form class="mb-3" action="/listings/<%= temp._id %>/review/<%= i._id %>?_method=Delete" method="post">
            <button class="btn btn-dark btn-sm">Delete</button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>
    </div>
    <div class="clo-6 offset-2 mb-3">
      <h3>Where you'll be</h3>
      <div id="map">
         
      </div>
  </div>
</body>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v3.12.0/mapbox-gl.js">
	mapboxgl.accessToken = "<%= process.env.MAP_token %>";
  console.log(process.env.MAP_token)
    const map = (window.map = new mapboxgl.Map({
        container: 'map',
        center: [-74.006292, 40.712666],
        zoom: 16.2,
        pitch: 40,
        bearing: 53,
        style: 'mapbox://styles/mapbox/standard',
        minZoom: 15,
        maxZoom: 17
    }));

    map.on('style.load', () => {
        // add a geojson source with a polygon to be used in the clip layer.
        map.addSource('eraser', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': [
                    {
                        'type': 'Feature',
                        'properties': {},
                        'geometry': {
                            'coordinates': [
                                [
                                    [-74.00618, 40.71406],
                                    [-74.00703, 40.71307],
                                    [-74.00787, 40.71206],
                                    [-74.00766, 40.71176],
                                    [-74.00624, 40.71204],
                                    [-74.00487, 40.71252],
                                    [-74.00421, 40.71315],
                                    [-74.00618, 40.71406]
                                ]
                            ],
                            'type': 'Polygon'
                        }
                    }
                ]
            }
        });

        // add the clip layer and configure it to also remove symbols and trees.
        // clipping becomes active from zoom level 16 and below.
        map.addLayer({
            'id': 'eraser',
            'type': 'clip',
            'source': 'eraser',
            'layout': {
                // specify the layer types to be removed by this clip layer
                'clip-layer-types': ['symbol', 'model']
            },
            'maxzoom': 16
        });

        // add a line layer to visualize the clipping region.
        map.addLayer({
            'id': 'eraser-debug',
            'type': 'line',
            'source': 'eraser',
            'paint': {
                'line-color': 'rgba(255, 0, 0, 0.9)',
                'line-dasharray': [0, 4, 3],
                'line-width': 5
            }
        });
    });
</script>
